.tag {
  display: flex;
  gap: $size-4;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: $size-1 $size-4;
  transition-property: border, background;
  transition-duration: $transition-speed-fast;
  outline: 0.1rem solid rgba(var(--background-color), 0.2);
  background-color: rgba(var(--background-color), 0.2);
  overflow: hidden;

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    outline: 0.1rem solid rgba(var(--background-color), 0.3);
    background-color: rgba(var(--background-color), 0.3);
    overflow: visible;
  }

  &>img {
    width: $size-10;
    height: $size-10;
  }

  & button {
    border: none;
    display: flex;

    align-items: center;
    height: $size-12;

    &:hover,
    &:focus {
        outline: 1px solid rgba(var(--background-color), 0.8);
        background-color: rgba(var(--background-color), 0.5);
    }
  }


  & > a {
    filter: invert(50%);
  }
}
