.greeting-sphere {
    position: relative;
    display: flex;
    max-width: 25rem;
    max-height: 25rem;
    min-width: 12.5rem;
    min-height: 12.5rem;
    aspect-ratio: 1;

    border-radius: 50%;
    background: transparent;
    animation: greeting-sphere__shadow $transition-speed-slower;
    justify-content: center;
    align-items: center;

    box-shadow:
        inset -1rem 2rem 3rem -2rem $pallet-secondary,
        3.5rem -4.5rem 2rem -5rem $pallet-secondary,
        -3rem 4rem 2rem -4rem hsl($pallet-primary),
        0rem 2.5rem 2rem -3rem hsl($pallet-primary);
    
    backdrop-filter: blur($size-2);
    -webkit-backdrop-filter: blur($size-2);
    
    & > img {
        width: 100%;
        transform: scale(0.75);
        border-radius: 25%;
        object-fit: cover;
        animation: stall $transition-speed-slow, greeting-sphere__img $transition-speed-slowest $transition-speed-slow;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.995);
        box-shadow: inset 4.5rem -5rem 2rem -5.5rem hsl($pallet-primary);
        animation: greeting-sphere__shadow--after $transition-speed-slower, greeting-sphere__shadow--after-jitter $transition-speed-slowest $transition-speed-slower infinite alternate;
    }
}

@keyframes greeting-sphere__shadow {
    from {
        box-shadow:
            inset -1rem -1rem 3rem -5rem $pallet-secondary,
            -2.5rem -2rem 2rem -5rem $pallet-secondary,
            0.5rem 2rem 2rem -4rem hsl($pallet-primary),
            1rem -1rem 2rem -3rem hsl($pallet-primary);
    }
    to {
        box-shadow:
            inset -1rem 2rem 3rem -2rem $pallet-secondary,
            3.5rem -4.5rem 2rem -5rem $pallet-secondary,
            -3rem 4rem 2rem -4rem hsl($pallet-primary),
            0rem 2.5rem 2rem -3rem hsl($pallet-primary);
    }
}

@keyframes greeting-sphere__shadow--after {
    from {
        box-shadow: inset 3rem 3rem 3rem -8rem hsl($pallet-primary);
    }
    to {
        box-shadow: inset 4.5rem -5rem 2rem -5.5rem hsl($pallet-primary);
    }
}

@keyframes greeting-sphere__shadow--after-jitter {
    from {
        box-shadow: inset 4.5rem -5rem 2rem -5.5rem hsl($pallet-primary);
    }
    to {
        box-shadow: inset 4.25rem -5.5rem 2rem -5.5rem hsl($pallet-primary);
    }
}

@keyframes greeting-sphere__img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

