.star-gazer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: $size-screen-width;
    height: $size-screen-height;
    overflow: hidden;
    z-index: -1;
    transition: all $transition-speed-slow;

    &>div {
        position: absolute;
        border-radius: 50%;
        width: 3px;
        height: 3px;
        background-color: #fff;
        transition-property: transform, opacity;
        transition-timing-function: ease-out;
    }
}
