.p-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  &,
  &-md,
  &-lg,
  &-xl {
    display: flex;
    flex-direction: column;
  }
}

@include media-medium() {
  .container-md {
    max-width: $breakpoint-medium;
    margin: 0 auto;
  }
}

@include media-large() {
  .container-lg {
    max-width: $breakpoint-large;
    margin: 0 auto;
  }
}

.place--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-place--right {
  display: flex;
  align-items: flex-end;
  & > * {
    width: 100%;
  }
}
