@use "sass:list";

$size-1: 0.1rem;
$size-2: 0.2rem;
$size-4: 0.4rem;
$size-6: 0.6rem;
$size-8: 0.8rem;
$size-9: 1.2rem;
$size-10: 1.4rem;
$size-11: 1.6rem;
$size-12: 1.8rem;
$size-16: 2.2rem;
$size-18: 2.6rem;
$size-24: 3.4rem;
$size-28: 4rem;
$size-128: 17.6rem;
$size-full: 100%;
$size-screen-height-half: 50vh;
$size-screen-height: 100vh;
$size-screen-width: 100vw;

$min-width: 12.5rem;

$transition-speed-fast: 0.15s;
$transition-speed-normal: 0.3s;
$transition-speed-slow: 0.6s;
$transition-speed-slower: 1s;
$transition-speed-slowest: 1.5s;

$background-color: #000;
$text-color: #ffffff;
$animation-translucent-color: #FFFFFF03;

$terminal-accent: #0F0;
$pallet-primary: 183.97 58.12% 45.88%;
$pallet-secondary: #956ddf;
$pallet-secondary-text: #a485df;

$pallet-primary-active: hsl($pallet-primary);
$pallet-primary-focus: hsl(list.nth($pallet-primary, 1), list.nth($pallet-primary, 2), list.nth($pallet-primary, 3) - 20%);
$pallet-primary-active-focus: hsl(list.nth($pallet-primary, 1), list.nth($pallet-primary, 2), list.nth($pallet-primary, 3) + 5%);

$pallet-terminal-header: #474747;
$pallet-terminal-body: #232323;
